@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.blue__gradient {
  background: linear-gradient(180deg, rgba(180, 165, 225, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.purple__gradient {
  background: linear-gradient(to top, #710193 0%, #4b0082 100%);
  filter: blur(900px);
}

.pink__gradient {
  background: linear-gradient(
    106.5deg,
    rgba(255, 215, 185, 0.91) 23%,
    rgba(223, 159, 247, 0.8) 93%
  );
  filter: blur(900px);
}

* {
  scroll-behavior: smooth;
  
}

.navbar-line {
  background: linear-gradient(to right, grey, white, grey);
  height: 1px;
  width: 100%;
  opacity: 0.2;
}

#nav {
    background: rgb(94,32,103);
    background: radial-gradient(circle, rgba(94,32,103,1) 10%, rgba(3,1,22,1) 50%);

}
#home{
    background: rgb(94,32,103);
background: radial-gradient(circle at top, rgba(94,32,103,1) 10%, rgba(3,1,22,1) 50%);
}

#ecosystem, #ecosystem2 {
    background: rgb(3,1,22);
    background: radial-gradient(circle at center, rgba(3,1,22,1) 40%, rgb(10, 28, 61) 90%);
    
}

#video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video-container2 iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}